# 3. Preparando o Dataset (Categorico)

#### Importação das Bibliotecas

In [2]:
import pandas as pd
import numpy as np
import datetime

#### Realizando a leitura do arquivo (dataset)

In [3]:
df = pd.read_csv('imports-85.txt', sep=',',header=None,na_values="?")

#### Apresentando as 5 primeiras linhas do dataset

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [5]:
header = {0:"symboling", 1:"normalized-losses", 2:"make", 3:"fuel-type", 4:"aspiration",
          5:"num-of-doors", 6:"body-style", 7:"drive-wheels", 8:"engine-location",
          9:"wheel-base", 10:"length", 11:"width", 12:"height", 13:"curb-weight",
         14:"engine-type", 15:"num-of-cylinders", 16:"engine-size", 17:"fuel-system",
         18:"bore", 19:"stroke", 20:"compression-ratio", 21:"horsepower", 22:"peak-rpm",
         23:"city-mpg", 24:"highway-mpg", 25:"price"}

In [6]:
df.rename(columns=header,inplace=True)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

#### Verificando os tipos de variáveis e se existem ou não valores nulos

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak-rpm           203 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

#### Conta a quantidade de object

In [9]:
df.dtypes.eq('object').sum()

10

#### Selecionando apenas os dados categoricos

In [10]:
df2 = df.select_dtypes(include=['object']).copy()  #realiza uma cópia do dataset apenas para as colunas do tipo string
df2.head()

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   make              205 non-null    object
 1   fuel-type         205 non-null    object
 2   aspiration        205 non-null    object
 3   num-of-doors      203 non-null    object
 4   body-style        205 non-null    object
 5   drive-wheels      205 non-null    object
 6   engine-location   205 non-null    object
 7   engine-type       205 non-null    object
 8   num-of-cylinders  205 non-null    object
 9   fuel-system       205 non-null    object
dtypes: object(10)
memory usage: 16.1+ KB

#### Contando valores nulos

In [12]:
df2.isnull().sum()

make                0
fuel-type           0
aspiration          0
num-of-doors        2
body-style          0
drive-wheels        0
engine-location     0
engine-type         0
num-of-cylinders    0
fuel-system         0
dtype: int64

#### Realiza o drop para valores nulos - no caso aqui, das linhas

In [13]:
df2.dropna(inplace=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 0 to 204
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   make              203 non-null    object
 1   fuel-type         203 non-null    object
 2   aspiration        203 non-null    object
 3   num-of-doors      203 non-null    object
 4   body-style        203 non-null    object
 5   drive-wheels      203 non-null    object
 6   engine-location   203 non-null    object
 7   engine-type       203 non-null    object
 8   num-of-cylinders  203 non-null    object
 9   fuel-system       203 non-null    object
dtypes: object(10)
memory usage: 17.4+ KB

#### Conta os valores para cada uma das classes

In [15]:
df2['num-of-cylinders'].value_counts()

four      157
six        24
five       11
eight       5
two         4
twelve      1
three       1
Name: num-of-cylinders, dtype: int64

#### Transformando em numeros ( replace )

In [16]:
mapeamento_classes = {"num-of-doors":{"four":4, "two":2},
                   "num-of-cylinders":{"four":2, "six":6, "five":5, "eight":8, "two":2, "twelve": 12, "three":3}}

#### Aplicando o replace

In [17]:
df2.replace(mapeamento_classes,inplace=True)
df2.head()

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system
0,alfa-romero,gas,std,2,convertible,rwd,front,dohc,2,mpfi
1,alfa-romero,gas,std,2,convertible,rwd,front,dohc,2,mpfi
2,alfa-romero,gas,std,2,hatchback,rwd,front,ohcv,6,mpfi
3,audi,gas,std,4,sedan,fwd,front,ohc,2,mpfi
4,audi,gas,std,4,sedan,4wd,front,ohc,5,mpfi

#### Aplicando o label encoding

In [18]:
df2['body-style'] = df2['body-style'].astype('category')
df2.dtypes

make                  object
fuel-type             object
aspiration            object
num-of-doors           int64
body-style          category
drive-wheels          object
engine-location       object
engine-type           object
num-of-cylinders       int64
fuel-system           object
dtype: object

#### Procedimento label encoding

In [19]:
df2['body-style-cat']=df2['body-style'].cat.codes
df2.head()

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system,body-style-cat
0,alfa-romero,gas,std,2,convertible,rwd,front,dohc,2,mpfi,0
1,alfa-romero,gas,std,2,convertible,rwd,front,dohc,2,mpfi,0
2,alfa-romero,gas,std,2,hatchback,rwd,front,ohcv,6,mpfi,2
3,audi,gas,std,4,sedan,fwd,front,ohc,2,mpfi,3
4,audi,gas,std,4,sedan,4wd,front,ohc,5,mpfi,3

In [22]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 0 to 204
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   make              203 non-null    object
 1   fuel-type         203 non-null    object
 2   aspiration        203 non-null    object
 3   num-of-doors      203 non-null    int64
 4   body-style        203 non-null    category
 5   drive-wheels      203 non-null    object
 6   engine-location   203 non-null    object
 7   engine-type       203 non-null    object
 8   num-of-cylinders  203 non-null    int64
 9   fuel-system       203 non-null    object
 10  body-style-cat    203 non-null    int8
dtypes: category(1), int64(2), int8(1), object(7)
memory usage: 16.5+ KB

In [20]:
df2['body-style-cat'].value_counts()

3    94
2    70
4    25
1     8
0     6
Name: body-style-cat, dtype: int64

#### Aplicando o one-hot encoding

In [21]:
df2['drive-wheels'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

#### Aplicando o hot enconding com o panda

In [23]:
pd.get_dummies(df2, columns=['drive-wheels']).head()

,make,fuel-type,aspiration,num-of-doors,body-style,engine-location,engine-type,num-of-cylinders,fuel-system,body-style-cat,drive-wheels_4wd,drive-wheels_fwd,drive-wheels_rwd
0,alfa-romero,gas,std,2,convertible,front,dohc,2,mpfi,0,0,0,1
1,alfa-romero,gas,std,2,convertible,front,dohc,2,mpfi,0,0,0,1
2,alfa-romero,gas,std,2,hatchback,front,ohcv,6,mpfi,2,0,0,1
3,audi,gas,std,4,sedan,front,ohc,2,mpfi,3,0,1,0
4,audi,gas,std,4,sedan,front,ohc,5,mpfi,3,1,0,0